$maxContainerSize:940;
$maxWidth:1020;
$containerPadding:40;

$breakpoint768:767.98px;
$breakpoint375:374.98px;

$burgerBreakpoint: $breakpoint375;
$burgerActiveColor: white;

$grayColor: #2D303A;
$pinkColor: #F06C64;
$whiteColor: #F2F2F2;
$textColor: #666D89;

*{
    box-sizing: border-box;
}

.slider {
    margin: auto;
    // width: 1020px;
    width: 100%;
    overflow: hidden;
}

.slider-content {
    display: flex;
    width: 100%;
}

.slider-controls {
    width: 100%;
}

#prevBtn {
    position:absolute;
    left: 3.92%;
    right: 94.51%;
    top: 47.83%;
    bottom: 47.67%;
}

#nextBtn {
    position: absolute;
    left: 94.51%;
    right: 3.92%;
    top: 47.83%;
    bottom: 47.67%;
}


