$maxContainerSize:940;
$maxWidth:1020;
$containerPadding:40;

$breakpoint768:767.98px;
$breakpoint375:374.98px;

$burgerBreakpoint: $breakpoint375;
$burgerActiveColor: white;

$grayColor: #2D303A;
$pinkColor: #F06C64;
$whiteColor: #F2F2F2;
$textColor: #666D89;

// *{
//     box-sizing: border-box;
// }

.slider {
    // margin: auto;
    width: 100vw;
    overflow: hidden;

    &-controls {
        max-height: 0px;
        background: #F2F2F2;
    }
}

.slider-content {
    display: flex;
    // max-width: 100vh;
    img{
        max-width: 100vw;
    }

}

.slider-controls {
    width: 100vw;
    img {
        max-width: 100vw;
    }
}

#prevBtn {
    // left: 40px;
    // right: 70%;
    // top: 37%;
    // bottom: 60%;
    position: relative;

    left: 40px;
    bottom: 27vw;
}

#nextBtn {
    position: relative;
    left: 92%;
    right: 40px;
    bottom: 27vw;
}

@media screen and (max-width:$breakpoint768){ 
    #prevBtn {
        position: relative;
    
        left: 40px;
        bottom: 27vw;
    }
    
    #nextBtn {
        position: relative;
        left: 87%;
        right: 40px;
        bottom: 27vw;
    }
}


