$maxContainerSize:940;
$maxWidth:1020;
$containerPadding:40;

$breakpoint768:767.98px;
$breakpoint375:374.98px;

$burgerBreakpoint: $breakpoint375;
$burgerActiveColor: white;

$grayColor: #2D303A;
$pinkColor: #F06C64;
$whiteColor: #F2F2F2;
$textColor: #666D89;

*{
    box-sizing: border-box;
}

.slider {
    margin: auto;
    width: 1020px;
    overflow: hidden;

    &-controls {
        max-height: 0px;
        background: #F2F2F2;
    }
}

.slider-content {
    display: flex;
    width: 1020px;

}

#prevBtn {
    // position:absolute;
    // left: 25%;
    // right: 70%;
    // top: 39%;
    // bottom: 60%;
    position: relative;
    left: 40px;
    bottom: 310px;
}

#nextBtn {
    position: relative;
    left: 940px;
    bottom: 310px;
}


