@import url(https://fonts.googleapis.com/css?family=Lato:300,regular,italic,700,900);

$fontFamily: "Lato";

$maxContainerSize:940;
$maxWidth:1020;
$containerPadding:40;

$breakpoint768:767.98px;
$breakpoint480:479.98px;

$burgerBreakpoint: $breakpoint480;
$burgerActiveColor: white;

$grayColor: #2D303A;
$pinkColor: #F06C64;
$whiteColor: #F2F2F2;
$textColor: #666D89;

html {
    display: table;
    margin: auto;
    background-color: #e5e5e5;
    width: 100%;
    overflow-x: hidden;
}

.container{
    width: 100vw;
} 

body {
    font-Family: $fontFamily, sans-serif;
    font-style: normal;
    max-width: 100%;
    // display: table-cell;
    vertical-align: middle;
}

nav {
    padding-top:10px;
    max-width: 100vw;
    background-color: $grayColor;
    overflow: hidden;
}

.navbar {
    max-width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:89px;
    border-bottom: 6px solid #323746;

    .logo {
        margin-top: 29px;
        margin-bottom:41px;
        margin-left:40px;
        a {
            color: white;
            font-size: 25px;
            text-decoration: none;
            font-weight: bold;
            letter-spacing:-0.03em;

            b {
                color:$pinkColor;
            }
        }
    }
    
    .menu {
    
        display: flex;
        list-style: none;
        max-width:100%;
        margin-top: 42px;
        margin-bottom: 39px;
        margin-right: 40px;
        height: 14px;
    
        font-size: 12px;
        font-style: normal;
        line-height: 14px;
        font-weight: bold; 
        letter-spacing: -0.035em;
        
        &__item:first-child a{
            color:$pinkColor;
            list-style: none;
        }
    
        &__item {
            margin-left: 25px;
    
    
            &:first-child{
                &:before {
                    content:"";
                }
            }
            &:before {
                // content:"\2022";
                content:"\2027";
                color: white;
                display: inline-block;
                width:2em;
                margin-left:-1em;
                // font-size: 6px;
                // padding-right: 10px;
                // padding-bottom:5px ;
            }
        }
    
        &__item-link{
            color: white;
            text-decoration: none;
            
        }
    }
    .navigation-burger{
        display:none;
    }
}


@media screen and (max-width:$breakpoint768){ 
    .navbar{
        
        .logo {
            margin-left:15px;
            a {
                font-size: 18px;
            }
        }
        
        .menu {
            margin-right: 15px;
            font-size: 10px;
            &__item {
                margin-left: 10px;
        
                &:before {
                    content:"";
                }
            }
        }
    } 
}


.burger {
    display: none;
    cursor: pointer;
}

@media screen and (max-width: $burgerBreakpoint) {
    nav{
        padding-top: 0px;
    }
    .navbar {
        .burger{
            top:0%;
            left: 20px;
            z-index: 4;
        }
        border-bottom: 0px solid #323746;
        justify-content: start;

        .logo {
            // a {
            //     margin-left:150%;
            // }
            margin-left: 35%;
            margin-top: 40px;
        }
        .navigation-burger {
            display: block;
            position:fixed;
            top:0;
            left:0;
            width: 200px;;
            height:100%;
            display:flex;
            flex-direction: column;
            justify-content: start;
            padding-top:40%;
            padding-left: 20%;
            z-index: 3;
            background-color: #2D303A;
            box-shadow: 1px 0px 5px #25272F;
            transform: translate(-105%);
            // transform: translate(0%);

            .navigation-item{
                margin-bottom: 30px;
                a{
                    color:#fff;
                    text-decoration: none;
                    font-style: normal;
                    font-weight: 700;
                    font-size: 24px;
                    line-height: 29px;
                    letter-spacing: -0.035em;
                }
                
            }
            .navigation-item:first-child a{
                color: $pinkColor;
            }

            .logo {
                position: fixed;
                top: -26px;
                margin-left: 0;
                p {
                    color: white;
                    font-size: 25px;
                    text-decoration: none;
                    font-weight: bold;
                    letter-spacing:-0.03em;
        
                    b {
                        color:$pinkColor;
                    }
                }
            }
        } 
    }
    .menu{
        position: fixed;
        left:0;
        height:100vh;
        width: 100vh;
        display: none;

        &.active {
            display: flex;
            left: 0;
            top: 0;
            height: 100vh;
            width: 100vh;
            flex-direction: column;
            pointer-events: all;
            justify-content: center;
            align-items: center;
            z-index: 22;
            animation: fade 0.1s linear;
        }
    }

    .burger {
        display: block;
        position: relative;
        height: 20px;
        width: 30px;
        z-index: 102;
        cursor: pointer;

        &.active-burger {
            &:before {
                background:$burgerActiveColor;
                transform: rotate(45deg);
                transition: cubic-bezier(0.785,0.135,0.15,0.86) 0.3s all;
                top: 0;
            }
            &:after {
                background:$burgerActiveColor;
                transform: rotate(45deg);
                bottom: 10px;
                transition: cubic-bezier(0.785,0.135,0.15,0.86) 0.3s all;
            }

            & span {
                transform: scale(8);
            }
        }
        
        &:before,
        &:after {
            content: '';
            position: absolute;
            height:2px;
            width: 100%;
            background: white;
            border-radius: 5px;
        }
        
        &:before {
            top: 0;
        }

        &::after {
            bottom: 0;
        }

        span {
            border-radius: 5px;
            position: absolute;
            top: 9px;
            right: 0;
            width: 100%;
            background: white;
            height: 2px;
        }
    }

    .menu__item {
        display: none;
    }
    
    .menu__item-link {
        color: white;
    }
}


